/* Raleway-regular */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Raleway-400.ttf') format('truetype');
}

/* Raleway-700  */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/Raleway-700.ttf') format('truetype');
}
